{% extends "layout.html" %}

{% block title %}
    Summary
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
        {% for info in data %}
            <div>{{info.symbol}}</div>
            <div>{{info.name}}</div>
            <div>{{info.shares}}</div>
            <div>{{info.share_price}}</div>
            <div>{{info.total_price}}</div>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Cash</td>
                <td>{{current_user_price}}</td>
            </tr>
            <tr>TOTAL</tr>
            <tr>{{total_sum}}</tr>
        </tfoot>
    </table>
{% endblock %}
