{% extends "layout.html" %}

{% block title %}
    Summary
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td>Cash</td>
                <td>1</td>
            </tr>
            <tr>TOTAL</tr>
            <tr>2</tr>
        </tfoot>
    </table>
{% endblock %}
